<!DOCTYPE html>

{% load static %}

<html style="height:100%;">
<head lang='en'>
    <meta charset='UTF-8'>

    <title>Hobchick 2015</title>

    {% include "MetaTemplate.html" %}
    {% include "IncludesTemplate.html" %}
    <link rel='stylesheet' type='text/css' href='{% static "css/home.css" %}'>

</head>
<body style="height:100%;">
    <div class="my-fluid-container">
        <div class="row full-height">
            <div class="col-lg-4 main-text picture-placeholder">

            </div>
            <div class="col-lg-4 main-text picture-placeholder">
                <image class="fw-fw fw-fw-0" src="/static/img/home/fw-fw-0.jpg" />
                <image class="fw-fw fw-fw-1" src="/static/img/home/fw-fw-1.jpg" />
                <image class="fw-fw fw-fw-2" src="/static/img/home/fw-fw-2.jpg" />
                <image class="fw-fw fw-fw-3" src="/static/img/home/fw-fw-3.jpg" />
                <image class="fw-fw fw-fw-4" src="/static/img/home/fw-fw-4.jpg" />
            </div>
            <div class="col-lg-4 main-text picture-placeholder">

            </div>
        </div>
    </div>

    <div class="hobchick-animation main-text text-center">
        <div class="heading-1">
            <div class="hobson-column">
                <div class="hob-name-start">
                    HOB
                </div>
                <div class="son-name-start">
                    SON
                </div>
            </div>

            <div class="sanchick-column">
                <div class="san-name-start">
                    SAN
                </div>
                <div class="chick-name-start">
                    CHICK
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
     </div>

    {% include "FooterTemplate.html" %}

</body>
</html>

<script type='text/javascript' src='{% static "js/min/home-1.min.js" %}'></script>