<!DOCTYPE html>

{% load static %}

<html style="height:100%;">
<head lang='en'>
    <meta charset='UTF-8'>
    <title>Hobchick 2015 - How</title>

    {% include "MetaTemplate.html" %}
    {% include "IncludesTemplate.html" %}
    <link rel='stylesheet' type='text/css' href='{% static "css/inverted.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/how.css" %}'>

    <script type='text/javascript' src='{% static "js/min/how-2.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/lib/keypress-2.1.0.min.js" %}'></script>

</head>
<body class="main-text">

    <div class="main-text maze-instructions kevin-maze-instructions">
        <div class="instructions-wrapper">
            HELP KEVIN GET TO THE WEDDING.
            <div class="arrow-keys">
                <img src='{% static "img/how/arrow-keys.png" %}' />
                <div>
                    USE YOUR ARROW KEYS
                </div>
            </div>
        </div>

    </div>

    <div class="danielle-wins">

    </div>

    <div class="maze-wrapper">

        <div class="selection">

            <div class="choose-player">
                CHOOSE YOUR PLAYER
            </div>

            <div class="heads">

                <div class="person-wrapper">
                    <img class="head kevin-head" src="/static/img/how/kevin-head.png">
                </div>

                <div class="person-wrapper">
                    <img class="head danielle-head" src="/static/img/how/danielle-head.png">
                </div>

            </div>

        </div>

        <canvas class="maze-canvas">
            Sorry, looks like your browser doesn't support HTML5.
            Try using Google Chrome if you want to see how Kevin's gonna get to the wedding.
        </canvas>

    </div>

    <div class="main-text maze-instructions danielle-maze-instructions">

        <div class="instructions-wrapper">
            HELP DANIELLE GET TO THE WEDDING.
            <div class="arrow-keys">
                <img src='{% static "img/how/arrow-keys.png" %}' />
                <div>
                    USE YOUR ARROW KEYS
                </div>
            </div>
        </div>


    </div>

    <div class="kevin-wins">

    </div>

    {% include "FooterTemplate.html" %}

</body>
</html>