<!DOCTYPE html>

{% load static %}

<html style="height:100%;">
<head lang='en'>
    <meta charset='UTF-8'>

    <title>Hobchick 2015 - RSVP</title>

    {% include "MetaTemplate.html" %}
    {% include "IncludesTemplate.html" %}
    <link rel='stylesheet' type='text/css' href='{% static "css/inverted.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/rsvp.css" %}'>

</head>
<body style="height:100%;">

    <div class="my-fluid-container">

        <div class="clearfix">

        </div>

    </div>

    {% include "FooterTemplate.html" %}

</body>
</html>

<script type='text/javascript' src='{% static "js/min/rsvp.js" %}'></script>