<!DOCTYPE html>

{% load static %}

<html style="height:100%;">
<head lang='en'>
    <meta charset='UTF-8'>

    <title>Hobchick 2015 - RSVP</title>

    {% include "MetaTemplate.html" %}
    {% include "IncludesTemplate.html" %}
    <link rel='stylesheet' type='text/css' href='{% static "css/inverted.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/rsvp.css" %}'>

    <script type='text/javascript' src='{% static "js/rsvp.js" %}'></script>

    <link href='//fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

</head>
<body style="height:100%;">

    <div class="my-fluid-container">

        <div class="rsvp-card">

            {% if FormWasSubmitted %}

                Thanks!

            {% else %}

            <form action="/rsvp/" method="post" id="rsvp-form">

                {% csrf_token %}

                <div class="rsvp-card-question">
                    name(s)
                    <input type="text" name="name" id="name-input" />
                </div>

                <div class="rsvp-card-question">
                    <div class="rsvp-radio-wrapper">
                        <input id="isComingRadio" type="radio" name="isComing" value="true" />
                        <label for="isComingRadio">cannot wait to celebrate</label>
                    </div>
                    <div class="rsvp-radio-wrapper">
                        <input id="isNotComingRadio" type="radio" name="isComing" value="false" />
                        <label for="isNotComingRadio">will celebrate from afar</label>
                    </div>
                </div>

                <div class="rsvp-title">
                    TRANSPORTATION
                </div>

                <div class="rsvp-card-question">
                    <div class="rsvp-radio-wrapper">
                        <input id="isTakingTheBusRadio" type="radio" name="isTakingTheBus" value="true" />
                        <label for="isTakingTheBusRadio">yes please, I will be taking the bus</label>
                    </div>
                    <div class="rsvp-radio-wrapper">
                        <input id="isNotTakingTheBusRadio" type="radio" name="isTakingTheBus" value="false" />
                        <label for="isNotTakingTheBusRadio">no thanks, I have my own ride</label>
                    </div>
                </div>

                <button type="submit" form="rsvp-form" value="submit">send my rsvp</button>

            </form>

            {% endif %}

        </div>

        <div class="clearfix">

        </div>

    </div>

    {% include "FooterTemplate.html" %}

</body>
</html>

