<!DOCTYPE html>

{% load static %}

<html style="height:100%;">
<head lang='en'>
    <meta charset='UTF-8'>
    <title>Hobchick 2015 - What</title>

    {% include "MetaTemplate.html" %}
    {% include "IncludesTemplate.html" %}
    <link rel='stylesheet' type='text/css' href='{% static "css/inverted.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/what.css" %}'>

    <script type='text/javascript' src='{% static "js/min/what-1.min.js" %}'></script>

</head>

<body style="height:100%;">

    <div class="what-main">

        <div class="what-item">

            <div class="what-name">
                CEREMONY
            </div>

            <div class="what-description">
                July 4, 2015, 5:00 PM<br/>
                The Barn at Fallingwater<br/>
                1478 Mill Run Road<br/>
                Mill Run, PA 15464<br/><br/>
                The ceremony will be held outside, weather permitting.
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="what-item">

            <div class="what-name">
                RECEPTION
            </div>

            <div class="what-description">
                To immediately follow the ceremony at the Barn at Fallingwater.
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="what-item">

            <div class="what-name">
                ACCOMMODATIONS
            </div>

            <div class="what-description">
                There are a block of rooms reserved for the Hobson/Sanchick wedding at <a target="_blank" href="http://www.7springs.com/lodging/hotel/">Seven Springs Resort</a> on Thursday, July 2, Friday, July 3 and Saturday, July 4.
                Please call (866) 437-1300 to book rooms by June 2, as the hotel can't guarantee the rooms after that.
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="what-item">

            <div class="what-name">
                REGISTRY
            </div>

            <div class="what-description">
                If you're so inclined, <a target="_blank" href="http://www.myregistry.com/public/hobchick">click here</a> to check out our registry -- but please don't feel obligated to buy or give anything.
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="what-item">

            <div class="what-name">
                WHITE WATER RAFTING
            </div>

            <div class="what-description">
                The bride and groom will be taking on the mighty Youghiogheny River on Friday, July 3 at 11:00 am with Laurel Highlands River Tours.
                <a target="_blank" href="http://goo.gl/VM3kfD">Click here</a> to book a spot and join the fun!
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="what-item">

            <div class="what-name">
                ADDITIONAL ACTIVITIES
            </div>

            <div class="what-description">
                We encourage you to take advantage of the many activities the Laurel Highlands region has to offer:
                <ul>
                    <li><a target="_blank" href="https://www.fallingwater.org/">Frank Lloyd Wright's Fallingwater</a></li>
                    <li><a target="_blank" href="https://kentuckknob.com/">Frank Lloyd Wright's Kentuck Knob</a></li>
                    <li><a target="_blank" href="http://www.dcnr.state.pa.us/stateparks/findapark/ohiopyle/">Ohiopyle State Park</a></li>
                    <li><a target="_blank" href="https://www.laurelhighlands.com/activities/">Laurel Highlands</a></li>
                    <li><a target="_blank" href="https://www.7springs.com/summer/adventures/outdoor-adventures/">Seven Springs outdoor activities</a></li>
                    <li><a target="_blank" href="https://www.7springs.com/golf/">Seven Springs golf</a></li>
                    <li><a target="_blank" href="https://www.7springs.com/resort/trillium-spa/">Seven Springs Trillium Spa</a></li>
                </ul>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="what-item">

            <div class="what-name">
                HOBCHICK.COM
            </div>

            <div class="what-description">
                Please send any bugs or feedback to <a target="_blank" href="mailto:hob@hobchick.com">hob@hobchick.com</a>.
            </div>

        </div>

        <div class="clearfix"></div>

    </div>

    {% include "FooterTemplate.html" %}

</body>
</html>