<!DOCTYPE html>

{% load static %}

<html style="height:100%;">
<head lang='en'>
    <meta charset='UTF-8'>

    <title>Hobchick 2015 - When</title>

    {% include "MetaTemplate.html" %}
    {% include "IncludesTemplate.html" %}
    <link rel='stylesheet' type='text/css' href='{% static "css/inverted.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/flipclock.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/when.css" %}'>

    <script type='text/javascript' src='{% static "js/min/when-2.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/lib/flipclock.min.js" %}'></script>

</head>
<body style="height:100%;">

    <div class="clock-container">

        <div class="clock">

        </div>

        <div class="wedding-date">
            JULY 4, 2015 5:00 PM
        </div>

    </div>

    {% include "FooterTemplate.html" %}

</body>
</html>