<!DOCTYPE html>

{% load static %}

<html>
  <head>

    <title>Hobchick 2015 - Where</title>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    {% include "IncludesTemplate.html" %}
      <link rel='stylesheet' type='text/css' href='{% static "css/inverted.css" %}'>
      <link rel='stylesheet' type='text/css' href='{% static "css/where.css" %}'>
      <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

      <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
      <script type='text/javascript' src='{% static "js/where.js" %}'></script>
      <script type='text/javascript' src='{% static "js/rotatedMarker.js" %}'></script>

  </head>
  <body>
    <div id='mapbox-map'></div>


    {% include "FooterTemplate.html" %}

  </body>
</html>