<!DOCTYPE html>

{% load static %}

<html>
  <head>

    <title>Hobchick 2015 - Where</title>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    {% include "IncludesTemplate.html" %}
      <link rel='stylesheet' type='text/css' href='{% static "css/inverted.css" %}'>
      <link rel='stylesheet' type='text/css' href='{% static "css/where.css" %}'>

    <script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyCQjrCukqm1O1Py-hKp2jg9fpzhmc4-PcI'></script>
    <script type='text/javascript' src='{% static "js/where.js" %}'></script>
  </head>
  <body>

  <div class="where-block main-text">
      <div class="where-question">
          WHERE ARE YOU COMING FROM?
      </div>

      <div class="where-answers">
          <div class="where-answer ohio-answer" data-latitude="40.117990" data-longitude="-82.813783" data-zoomLevel="8">
              OHIO
          </div>
          <div class="where-answer new-york-answer" data-latitude="40.766502" data-longitude="-73.962128" data-zoomLevel="12">
              NEW YORK
          </div>
          <div class="clearfix"></div>
          <div class="elsewhere-answer">
              ELSEWHERE
          </div>
      </div>
    </div>

    <div class="map-wrapper main-text">
        <div id="map-canvas">

        </div>

        <div class="your-address">
            <div class="address-question">

            </div>
            <div class="address-answer-div">
                <input type="text" placeholder="WHAT'S YOUR ADDRESS?" class="address-answer-text" />
            </div>
        </div>
    </div>

    {% include "FooterTemplate.html" %}

  </body>
</html>