<!DOCTYPE html>

{% load static %}

<html style="height:100%;">
<head lang='en'>
    <meta charset='UTF-8'>
    <title>Hobchick 2015 - When</title>

    {% include "IncludesTemplate.html" %}
    <link rel='stylesheet' type='text/css' href='{% static "css/inverted.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/who.css" %}'>

    <script type='text/javascript' src='{% static "js/who.js" %}'></script>

</head>
<body style="height:100%;">


    <div class="card-holder">


        <div class="flip-container kevin-flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front kevin-front baseball-card">

                    <div class="baseball-card-name kevin-card-name">

                    </div>
                </div>
                <div class="back kevin-back baseball-card">
                    <div class="baseball-card-name kevin-card-name">
                        CINCINNATI, OH
                    </div>
                </div>
            </div>
        </div>


        <div class="flip-container danielle-flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front danielle-front baseball-card">

                    <div class="baseball-card-name danielle-card-name">

                    </div>
                </div>
                <div class="back danielle-back baseball-card">
                    <div class="baseball-card-name danielle-card-name">
                        NEW YORK, NY
                    </div>
                </div>
            </div>
        </div>



    </div>




<!-- <div class="card-holder"> -->

        <!-- <div class="flip-container kevin-flip-container" ontouchstart="this.classList.toggle('hover');">

            <div class="flipper">

                <div class="baseball-card card-front kevin-card main-text">

                    <div class="baseball-card-name kevin-card-name">
                        KEVIN HOBSON
                    </div>

                </div>


                <div class="baseball-card card-back kevin-card main-text">

                </div>

            </div>

        </div> -->

       <!-- <div class="flip-container danielle-flip-container" ontouchstart="this.classList.toggle('hover');">

            <div class="flipper">

                <div class="baseball-card card-front danielle-card">

                    <div class="baseball-card-name danielle-card-name main-text">
                        DANIELLE SANCHICK
                    </div>

                </div>

                <div class="baseball-card card-back danielle-card main-text">

                </div>

            </div>

        </div> -->

    <!-- </div> -->



    {% include "FooterTemplate.html" %}

</body>
</html>