<!DOCTYPE html>

{% load static %}

<html style="height:100%;">
<head lang='en'>
    <meta charset='UTF-8'>
    <title>Hobchick 2015 - Who</title>

    {% include "MetaTemplate.html" %}
    {% include "IncludesTemplate.html" %}
    <link rel='stylesheet' type='text/css' href='{% static "css/inverted.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/who.css" %}'>

    <script type='text/javascript' src='{% static "js/who.js" %}'></script>

</head>
<body style="height:100%;">


    <div class="cards-holder">

        <div class="card-holder kevin-card-holder">

            <div class="flip-container kevin-flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front kevin-front baseball-card">

                        <div class="baseball-card-name kevin-card-name">

                        </div>
                    </div>
                    <div class="back kevin-back baseball-card">
                        <div class="baseball-card-name kevin-card-name">

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-holder danielle-card-holder">

            <div class="flip-container danielle-flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front danielle-front baseball-card">

                        <div class="baseball-card-name danielle-card-name">

                        </div>
                    </div>
                    <div class="back danielle-back baseball-card">
                        <div class="baseball-card-name danielle-card-name">

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    {% include "FooterTemplate.html" %}

</body>
</html>