<!DOCTYPE html>

{% load static %}

<html style="height:100%;">
<head lang='en'>
    <meta charset='UTF-8'>
    <title>Hobchick 2015 - Why</title>

    {% include "MetaTemplate.html" %}
    {% include "IncludesTemplate.html" %}
    <link rel='stylesheet' type='text/css' href='{% static "css/inverted.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/why.css" %}'>

    <script type='text/javascript' src='{% static "js/min/why-1.min.js" %}'></script>

</head>
<body style="height:100%;">
    <div class="why-main-container">

        <div class="row row-1">

            <div class="screen screen-1 non-center-screen">

            </div>

            <div class="screen screen-2 non-center-screen">

            </div>

            <div class="screen screen-right screen-3 non-center-screen">

            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row row-2">

            <div class="screen screen-4 non-center-screen">

            </div>

            <div class="screen screen-5">

            </div>

            <div class="screen screen-right screen-6 non-center-screen">

            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row row-3">

            <div class="screen screen-7 non-center-screen">

            </div>

            <div class="screen screen-8 non-center-screen">

            </div>

            <div class="screen screen-right screen-9 non-center-screen">

            </div>

        </div>

    </div>

    {% include "FooterTemplate.html" %}

</body>
</html>