body {
    /*overflow-x: hidden;*/
    /*overflow-y:scroll;*/
}

.mobile-main {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.heading-1 {
    font-size: 36px;
    letter-spacing: 8px;
}

.mobile-footer {
    position: absolute;
    width: 100%;
}

nav.mobile-footer-menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;

    padding-top: 5px;

    position: fixed;
    z-index: 20;
    overflow: hidden;

    left: 0;
    width: 100%;
    height: 300px;

    bottom: -200px;
}

.transitioning-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

body.smb-open nav.mobile-footer-menu {
    bottom:0;
}

body.smb-open nav.mobile-footer-menu .mobile-footer-links-left .mobile-footer-link {
    visibility: visible;
}

body.smb-open nav.mobile-footer-menu .mobile-footer-links-right .mobile-footer-link {
    visibility: visible;
}

body.smb-open nav.mobile-footer-menu .mobile-footer-link-home {
    visibility: visible;
}

.burger {
    width: 100px;
    height: 100px;
    background-size: contain;
    left: 10px;
    bottom: -2px;
    position: fixed;
    z-index: 21;
}

.burger-open {
    left: -50px;
}

.mobile-footer-link {
    visibility:hidden;
}

.mobile-footer-links-right {
    float: right;
    text-align: left;
    width: 50%;
    padding-left: 5%;
}

.mobile-footer-links-left {
    float: left;
    text-align: right;
    width: 50%;
    padding-right: 5%;
}

a:hover {
    text-decoration:none;
    color: #d4b189; /* covered wagon */
}

.mobile-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom: 100px;
}

.mobile-title {
    font-size: 56px;
    margin-bottom: -5px;
    padding-top: 8px;
}

.mobile-description {
    font-size: 36px;
    padding-bottom: 20px;
    padding-left: 35px;
}
