.screen {
    float: left;
    background-size: contain;
    margin: 5px;
}

.screen-4 {
    background-image: url('/static/img/why/thanks.jpg');
}

.row {
    margin-right: -8px !important;
    margin-left: 2px !important;
}

.screen-x-1, screen-x-2 {
    margin-right: 0;
}