body {
    height: 100%;
}

.maze-wrapper {
    background-color: white;
    margin-left: auto;
    margin-right: auto;

    width: 60%;
    height: 85%;

    text-align: center;
}

.maze-canvas {
    background: white;
}

.maze-instructions {

    line-height: 120%;
    font-size: 36px;

    cursor: pointer;

    padding-top: 30px;
    padding-left: 1%;
    width: 20%;
}

.kevin-maze-instructions {

    position: relative;

    float:left;
    height: 750px;

}

.danielle-maze-instructions {
    position: absolute;

    top: 0;
    right: 1%;

    text-align: right;
}

.arrow-keys {
    position: absolute;
    bottom: 5px;
    right: 0;
}