body {
    height: 100%;
}

.maze-wrapper {
    background-color: white;
    margin-left: auto;
    margin-right: auto;

    width: 60%;
    height: 85%;

    text-align: center;
}

.choose-player {
    padding-top: 7%;
    font-size: 36px;
}

.maze-canvas {
    background: white;
}

.maze-instructions {

    line-height: 120%;
    font-size: 36px;

    width: 20%;

    display: none;

    text-align: center;
}

.kevin-maze-instructions {

    position: absolute;

    top: 0;
    left: 1%;
}

.danielle-maze-instructions {
    position: absolute;

    top: 0;
    right: 1%;
}

.instructions-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-top: 75%;
}

.arrow-keys {
    position: absolute;
    bottom: 5px;
    right: 0;
}

.heads {
    padding-top: 100px;
}

.head {
    cursor: pointer;
}

.person-wrapper {
    margin-left: auto;
    margin-right: auto;

    display: inline;

    padding: 100px;
}

.person-image {
    margin-left: auto;
    margin-right: auto;
}

.kevin-image {
    background-image: url('/static/img/how/kevin-head.png');
    min-height: 276px;
    width: 190px;
    background-repeat: no-repeat;

    float: left;
}

.danielle-image {
    background-image: url('/static/img/how/danielle-head.png');
    min-height: 242px;
    width: 242px;
    background-repeat: no-repeat;

    float: right;
}