.my-fluid-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 100%;
}

.main-text {
    color:black;
    font-family: 'Montserrat', sans-serif;
}

.heading-1 {
    font-size: 70px;
    letter-spacing: 20px;
}

.full-height: {
    height: 100%;
}

img .banner {
    width: 100%;
}

img.banner.banner-left {

}

.hobchick-animation {
    position: absolute;
    bottom: 0;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.picture-placeholder {
    font-size: 300px;
    text-align: center;
    padding-top: 175px;
}

.hob-name-start {
    float: left;
}

.son-name-start {
    float:left;
}

.san-name-start {
    text-align: right;
    display: inline;
}

.chick-name-start {
    text-align: right;
    float: right;
}

.hobson-column {
    position: absolute;
    width: 50%;
    float: left;
    left: 0;
}

.sanchick-column {
    width: 50%;
    float: right;
    text-align: right;
}

.footer {
    position: absolute;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    padding-top:5px;
    padding-bottom:5px;
}

.footer-links {

}

.footer-link {
    color: black;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 5px;
}

.footer-link:hover {
    margin-top: 0px;
}

a:hover {
    text-decoration:none;
    /* color: #64201f; */ /* cherokee red */
    color: #a51e2d /* gumball red */
}

.footer-date {
}

.slug {
    font-size: 30px;
    letter-spacing:15px;
    padding-bottom:15px;
}

.slug-link {
    color: black;
}

.when-date {
    font-size: 250px;
    text-align: center;
    padding-top: 10%;
}