
.rsvp-card {

    background:
        url('/static/img/rsvp/chevron-top-left.png') left 0px top 0px / 20% no-repeat,
        url('/static/img/rsvp/chevron-bottom-right.png') right 0px bottom 0px / 20% no-repeat,
        white;

    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;


    border: 3px solid black;

    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    line-height: 1.2;


}

.rsvp-questions {
    margin-top: 30%;
}

label {

    display: inline;
    margin-bottom: 0;
    font-weight: 100;

}

input[type=text] {

    background: transparent;
    border:none;
    border-bottom: 1px solid black;
    outline: 0;

    margin-left: 20px;
    width: 75%;

    font-family: 'Permanent Marker', cursive;
    font-size:42px;

}

.rsvp-title {

    padding-top: 20px;
    margin-bottom: -20px;

}

.name-question {

    padding-top: 10px;

}

.rsvp-radio-wrapper {

    padding-left: 50px;

}

.is-coming-question {

    margin-top: 20px;
    padding-bottom: 5px;

}

.bus-question {

    margin-top: 20px;
    padding-bottom: 5px;

}

.submit-button {

    margin-left: 50px;
    margin-top: 10px;

    padding-left: 10px;
    padding-right: 10px;

}

.name-prompt.error {
    color: #a51e2d;
    font-weight: bold;
}

.rsvp-card-question.error {
    border-left: 3px solid #a51e2d;
}

.thanks {
    font-size: 60px;
    text-align: center;
    padding-top: 300px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	transform-style: preserve-3d;

    width: 65%;

	margin-left: auto;
    margin-right: auto;

    margin-top: 2%;
}

/* flip the pane when hovered */
.flip-container.flipped .back {
    transform: rotateX(0deg);
}
.flip-container.flipped .front {
    transform: rotateX(180deg);
}

.flip-container, .front, .back {
	-webkit-transition: 1s; /* Safari */
    transition: 1s;
}

.flipper {
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	transform-style: preserve-3d;


	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateX(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateX(180deg);
}
