
.rsvp-card {

    background:
        url('/static/img/rsvp/chevron-top-left.png') left 0px top 0px no-repeat,
        url('/static/img/rsvp/chevron-bottom-right.png') right 0px bottom 0px no-repeat,
        white;

    padding-top: 250px;
    padding-left: 100px;

    border: 3px solid black;

    margin-top: 3%;
    height: 75%;

    margin-left: auto;
    margin-right: auto;
    width:60%;

    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    line-height: 1.2;


}

label {

    display: inline;
    margin-bottom: 0;
    font-weight: 100;

}

input[type=text] {

    background: transparent;
    border:none;
    border-bottom: 1px solid black;
    outline: 0;

    margin-left: 20px;
    width: 75%;

    font-family: 'Permanent Marker', cursive;
    font-size:42px;

}

.rsvp-title {

    padding-top: 20px;
    margin-bottom: -20px;

}

.name-question {

    padding-top: 10px;

}

.rsvp-radio-wrapper {

    padding-left: 50px;

}

.is-coming-question {

    margin-top: 20px;
    padding-bottom: 5px;

}

.bus-question {

    margin-top: 20px;
    padding-bottom: 5px;

}

.submit-button {

    margin-left: 50px;
    margin-top: 25px;

    padding-left: 10px;
    padding-right: 10px;

}

.name-prompt.error {
    color: #a51e2d;
    font-weight: bold;
}

.rsvp-card-question.error {
    border-left: 3px solid #a51e2d;
}