
.what-main {
    width: 100%;
    margin: auto;

    font-family: 'Montserrat', sans-serif;

    padding-top: 0;

    overflow-y: scroll;

    padding-left: 10%;
    padding-right: 10%;
}

.what-item {
    padding-top: 40px;
}

.what-name {
    width: 48%;
    margin-right: 2%;
    float: left;

    font-size: 36px;
    text-align: right;

    line-height: 95%;
}

.what-description {
    width: 48%;
    margin-left: 2%;
    float: right;

    font-size: 14px;


}

li {
    list-style-type: none;
}