
.clock-container {

    margin-left: auto;
    margin-right: auto;
    width: 700px;

    padding-top: 13%;

}

.mobile-clock-container {
    padding-top: 50%;
}

.flip-clock-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.clock {
    margin-left: auto;
    margin-right: auto;
}

.flip-clock-label {
    display: none;
}

.wedding-date {
    font-family: Montserrat, sans-serif;
    font-size: 60px;

    text-align: center;

    padding-top: 100px;
}