<div class="mobile-footer">

    <div class="burger transitioning-menu">

    </div>

        <nav class="mobile-footer-menu transitioning-menu">

            <div class="mobile-footer-links-left">
                {% for link in footer.leftLinks %}
                    <div class="mobile-footer-link">
                        <a href="{{link.url}}">{{link.display}}</a>
                    </div>
                {% endfor %}
            </div>

            <div class="mobile-footer-links-right">
                {% for link in footer.rightLinks %}
                    <div class="mobile-footer-link">
                        <a href="{{link.url}}">{{link.display}}</a>
                    </div>
                {% endfor %}
            </div>

        </nav>

</div>