<div class="mobile-footer">

    <div class="burger transitioning-menu">

    </div>

        <nav class="mobile-footer-menu transitioning-menu">

            <div class="mobile-footer-links-top">
                <div class="mobile-footer-link">
                    <a href="{{ footer.topLink.url }}">{{ footer.topLink.display }}</a>
                </div>
            </div>

            <div class="mobile-footer-links-left">
                {% for link in footer.leftLinks %}
                    <div class="mobile-footer-link">
                        <a href="{{link.url}}">{{link.display}}</a>
                    </div>
                {% endfor %}
            </div>

            <div class="mobile-footer-links-right">
                {% for link in footer.rightLinks %}
                    <div class="mobile-footer-link">
                        <a href="{{link.url}}">{{link.display}}</a>
                    </div>
                {% endfor %}
            </div>

        </nav>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27999547-2', 'auto');
  ga('send', 'pageview');

</script>