<!DOCTYPE html>

{% load static %}

<html style="height:100%;">
<head lang='en'>
    <meta charset='UTF-8'>

    <title>Hobchick 2015 - Where</title>

    <meta name="viewport" content="initial-scale=0.75, user-scalable=yes" />

    {% include "MetaTemplate.html" %}
    {% include "IncludesTemplate.html" %}
    <link rel='stylesheet' type='text/css' href='{% static "css/mobile/main.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/mobile/blackOnWhite.css" %}'>
    <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
    <link rel='stylesheet' type='text/css' href='{% static "css/where.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/mobile/where.css" %}'>

    <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <script type='text/javascript' src='{% static "js/min/where-1.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/min/rotatedMarker-1.min.js" %}'></script>

</head>
<body style="height:100%;">

    <div id='mapbox-map'></div>

    {% include "MobileFooterTemplate.html" %}

</body>
</html>

<script type='text/javascript' src='{% static "js/min/mobileHome-1.min.js" %}'></script>