<!DOCTYPE html>

{% load static %}

<html style="height:100%;">
<head lang='en'>
    <meta charset='UTF-8'>

    <title>Hobchick 2015 - RSVP</title>

    {% include "MetaTemplate.html" %}
    {% include "IncludesTemplate.html" %}
    <link rel='stylesheet' type='text/css' href='{% static "css/mobile/main.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/mobile/blackOnWhite.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "css/mobile/rsvp.css" %}'>
    <link href='//fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

    <script type='text/javascript' src='{% static "js/mobile/min/rsvp-1.min.js" %}'></script>

</head>
<body style="height:100%;">
    <div class="mobile-main">
        <div class="mobile-container">


            <form action="/rsvp/" method="post" id="rsvp-form">

                {% csrf_token %}

                <div class="mobile-title name-prompt">
                    NAME(S)
                </div>
                <div class="mobile-description">

                    <div class="rsvp-card-question name-question">
                        <input type="text" name="name" id="name-input" />
                    </div>

                    <div class="rsvp-card-question is-coming-question">

                        <div class="rsvp-radio-wrapper">
                            <input id="isComingRadio" type="radio" name="isComing" value="true" />
                            <label for="isComingRadio">cannot wait to celebrate</label>
                        </div>

                        <div class="rsvp-radio-wrapper">
                            <input id="isNotComingRadio" type="radio" name="isComing" value="false" />
                            <label for="isNotComingRadio">will celebrate from afar</label>
                        </div>

                    </div>

                </div>

                <div class="mobile-title transportation-title">
                    TRANSPORTATION
                </div>

                <div class="mobile-description">

                    <div class="rsvp-card-question bus-question">
                        <div class="rsvp-radio-wrapper">
                            <input id="isTakingTheBusRadio" type="radio" name="isTakingTheBus" value="true" />
                            <label for="isTakingTheBusRadio">yes please, I will be taking the bus</label>
                        </div>
                        <div class="rsvp-radio-wrapper">
                            <input id="isNotTakingTheBusRadio" type="radio" name="isTakingTheBus" value="false" />
                            <label for="isNotTakingTheBusRadio">no thanks, I have my own ride</label>
                        </div>
                    </div>

                    <button class="submit-button" type="submit" form="rsvp-form" value="submit">send my rsvp</button>

                </div>

            </form>

        </div>
    </div>

    {% include "MobileFooterTemplate.html" %}

</body>
</html>

<script type='text/javascript' src='{% static "js/min/mobileHome-1.min.js" %}'></script>